* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}

.navbar {
  width: 271px;
  color: rgba(57,56,106,1);
  position: absolute;
  top: 29px;
  left: 103px;
  font-family: Karla;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

#logo img{
  height: 1%;
  width: 6%; 
  margin-left: 4px;
  margin-bottom: 5px;
}

.login-pg {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.login-bgimg {
  width: 100%;
  height: 100%;
  background: url("./assets/home.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(78,78,78,0.6499999761581421);
  filter: brightness(50%);
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.login-whitebg {
  width: 963px;
  height: 659px;
  background: rgba(251,251,251,1);
  opacity: 1;
  position: absolute;
  top: 182px;
  left: 238px;
  overflow: hidden;
}

.userid-text {
  width: 98px;
  color: rgba(90,90,90,1);
  position: absolute;
  top: 407px;
  left: 283px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.userid-input {
  width: 669px;
  height: 78px;
  color: rgba(160,160,160,1);
  position: absolute;
  top: 390px;
  left: 450px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.password-input {
 width: 669px;
  height: 78px;
  color: rgba(160,160,160,1);
  position: absolute;
  top: 509px;
  left: 450px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.forgot-password {
  width: 128px;
  color: rgba(61,58,230,1);
  position: absolute;
  top: 806px;
  left: 283px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.text-box-pass {
  width: 669px;
  height: 78px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 506px;
  left: 450px;
  border: 1px solid rgba(174,174,174,1);
  overflow: hidden;
}
.password-text {
  width: 128px;
  color: rgba(90,90,90,1);
  position: absolute;
  top: 530px;
  left: 283px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.login-heading {
  width: 265px;
  color: rgba(57,56,106,1);
  position: absolute;
  top: 273px;
  left: 587px;
  font-family: Outfit;
  font-weight: bolder;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.btn-position {
 position: absolute;
  top: 683px;
  left: 625px;
  
}

.login-btn{
width: 180px;
height: 60px;
background: #A0A0A0;
opacity: 1;
position: absolute;
font-size: 20px;
font-weight: bolder;
font-family: Outfit;
color: #39386A;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
border: none;
overflow: hidden;
}

.login-btn:hover{
  background-color:  #39386A ;
  color: #A0A0A0 ;
}

