* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}

.status-bar {
  width: 100%;
  height: 92px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 288px;
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.20000000298023224);
  overflow: hidden;
}
.building {
  width: 279px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 60px;
  left: 380px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.year {
  width: 110px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 57px;
  left: 867px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.year-drop {
  width: 16px;
  height: 9px;
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 994px;
  border: 1px solid rgba(90,90,90,1);
}
.society-drop {
  width: 23px;
  height: 13px;
  opacity: 1;
  position: absolute;
  top: 69px;
  left: 674px;
  border: 1px solid rgba(90,90,90,1);
}
.finance {
  width: 99px;
  color: rgba(160,160,160,1);
  position: absolute;
  top: 90px;
  left: 867px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.name {
  width: 84px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 57px;
  left: 1225px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.super {
  width: 91px;
  color: rgba(160,160,160,1);
  position: absolute;
  top: 90px;
  left: 1225px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.b-icon {
  width: 32px;
  height: 32px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 58px;
  left: 345px;
  overflow: hidden;
}
.building-icon {
  width: 24px;
  height: 32px;
  background: rgba(191,228,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
}
.profile-icon {
  width: 60px;
  height: 60px;
  background: rgba(191,228,255,1);
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 1340px;
  border-radius: 50%;
}
.s-icon {
  width: 26px;
  color: rgba(57,56,106,1);
  position: absolute;
  top: 54px;
  left: 1357px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.data {
  width: 989px;
  height: 697px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 411px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.18000000715255737);
  overflow: hidden;
}
.your-data {
  width: 143px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 227px;
  left: 458px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.data-box1 {
  width: 414px;
  height: 83px;
  background: rgba(230,245,241,1);
  opacity: 1;
  position: absolute;
  top: 316px;
  left: 462px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.admin-head {
  width: 209px;
  color: rgba(90,90,90,1);
  position: absolute;
  top: 343px;
  left: 476px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.admin-num {
  width: 32px;
  color: rgba(57,56,106,1);
  position: absolute;
  top: 327px;
  left: 755px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.admin-str {
  width: 30px;
  height: 30px;
  background: url("../images/v78_71.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 343px;
  left: 823px;
  overflow: hidden;
}
.admin-circle {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.admin-icon {
  width: 9px;
  height: 11px;
  background: url("../images/v78_70.png");
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 11px;
  border: 2px solid rgba(57,56,106,1);
}
.data-box2 {
  width: 414px;
  height: 83px;
  background: rgba(230,245,241,1);
  opacity: 1;
  position: absolute;
  top: 316px;
  left: 934px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.flat-head {
  width: 132px;
  color: rgba(90,90,90,1);
  position: absolute;
  top: 343px;
  left: 945px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.flat-num {
  width: 97px;
  color: rgba(57,56,106,1);
  position: absolute;
  top: 327px;
  left: 1173px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.flat-str {
  width: 30px;
  height: 30px;
  background: url("../images/v78_75.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 343px;
  left: 1305px;
  overflow: hidden;
}
.flat-circle {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.flat-icon {
  width: 9px;
  height: 11px;
  background: url("../images/v78_77.png");
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 11px;
  border: 2px solid rgba(57,56,106,1);
}
.data-box3 {
  width: 414px;
  height: 83px;
  background: rgba(230,245,241,1);
  opacity: 1;
  position: absolute;
  top: 458px;
  left: 462px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.user-head {
  width: 144px;
  color: rgba(90,90,90,1);
  position: absolute;
  top: 483px;
  left: 476px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.user-num {
  width: 91px;
  color: rgba(57,56,106,1);
  position: absolute;
  top: 463px;
  left: 697px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.user-str {
  width: 30px;
  height: 30px;
  background: url("../images/v78_81.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 485px;
  left: 823px;
  overflow: hidden;
}
.user-circle {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.user-icon {
  width: 9px;
  height: 11px;
  background: url("../images/v78_83.png");
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 11px;
  border: 2px solid rgba(57,56,106,1);
}
.v183_6 {
  width: 331px;
  height: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 17px 15px 30px rgba(0, 0, 0, 0.07999999821186066);
  overflow: hidden;
}
.v183_8 {
  width: 287px;
  background: url("../images/v183_8.png");
  opacity: 1;
  position: absolute;
  top: 105px;
  left: 22px;
  border: 1px solid rgba(227,227,227,1);
}
.v183_9 {
  width: 42px;
  color: rgba(130,140,155,1);
  position: absolute;
  top: 158px;
  left: 38px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v78_49 {
  width: 62px;
  height: 51px;
  background: url("../images/v78_49.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 29px;
  overflow: hidden;
}
.v78_50 {
  width: 11px;
  height: 49px;
  background: rgba(191,228,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 41px;
}
.v78_51 {
  width: 8px;
  height: 33px;
  background: rgba(57,56,106,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 11px;
}
.v78_52 {
  width: 9px;
  height: 43px;
  background: rgba(57,56,106,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 32px;
}
.v78_53 {
  width: 8px;
  height: 42px;
  background: rgba(57,56,106,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 53px;
}
.v78_54 {
  width: 11px;
  height: 28px;
  background: rgba(191,228,255,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 0px;
}
.v78_55 {
  width: 11px;
  height: 43px;
  background: rgba(191,228,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 20px;
}
.v78_56 {
  width: 271px;
  color: rgba(57,56,106,1);
  position: absolute;
  top: 45px;
  left: 102px;
  font-family: Karla;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v183_37 {
  width: 105px;
  color: rgba(64,64,64,1);
  position: absolute;
  top: 287px;
  left: 132px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v183_38 {
  width: 131px;
  color: rgba(64,64,64,1);
  position: absolute;
  top: 368px;
  left: 132px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v183_39 {
  width: 72px;
  color: rgba(64,64,64,1);
  position: absolute;
  top: 446px;
  left: 132px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v183_40 {
  width: 106px;
  color: rgba(64,64,64,1);
  position: absolute;
  top: 527px;
  left: 132px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v183_41 {
  width: 76px;
  color: rgba(64,64,64,1);
  position: absolute;
  top: 601px;
  left: 132px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v188_162 {
  width: 61px;
  height: 61px;
  background: rgba(191,228,255,1);
  opacity: 1;
  position: absolute;
  top: 274px;
  left: 37px;
  border-radius: 50%;
  box-shadow: 0px 2px 12px rgba(0.7490196228027344, 0.8941176533699036, 1, 1);
}
.v183_43 {
  width: 40px;
  height: 40px;
  background: url("../images/v183_43.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 285px;
  left: 48px;
  overflow: hidden;
}
.v183_44 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 5px;
}
.v183_71 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 366px;
  left: 48px;
  overflow: hidden;
}
.v183_72 {
  width: 13px;
  height: 13px;
  background: rgba(160,160,160,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 9px;
}
.v183_73 {
  width: 16px;
  height: 15px;
  background: rgba(160,160,160,1);
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 2px;
}
.v183_74 {
  width: 20px;
  height: 20px;
  background: rgba(160,160,160,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 17px;
}
.v183_75 {
  width: 40px;
  height: 40px;
  background: url("../images/v183_75.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v183_76 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 444px;
  left: 48px;
  overflow: hidden;
}
.v183_77 {
  width: 37px;
  height: 39px;
  background: rgba(160,160,160,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v183_78 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 525px;
  left: 48px;
  overflow: hidden;
}
.v183_79 {
  width: 33px;
  height: 33px;
  background: rgba(160,160,160,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
}
.v183_80 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 599px;
  left: 48px;
  overflow: hidden;
}
.v183_81 {
  width: 33px;
  height: 40px;
  background: rgba(160,160,160,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 3px;
}
.v183_53 {
  width: 56px;
  color: rgba(64,64,64,1);
  position: absolute;
  top: 672px;
  left: 135px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v183_82 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 672px;
  left: 48px;
  overflow: hidden;
}
.v183_83 {
  width: 10px;
  height: 33px;
  background: rgba(160,160,160,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
}
.v183_84 {
  width: 3px;
  height: 3px;
  background: rgba(160,160,160,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 6px;
}
.v183_85 {
  width: 20px;
  height: 16px;
  background: rgba(160,160,160,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 16px;
}
